In [9]:
%pip install dnspython pymongo certifi

Requirement already satisfied: dnspython in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.4.2)
Requirement already satisfied: pymongo in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (4.5.0)
Requirement already satisfied: certifi in c:\users\asus\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: C:\Users\ASUS\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Step 1:
Package Installation

In [10]:
from pymongo import MongoClient
import certifi

In [11]:
client = MongoClient("mongodb+srv://supphasithut:DbLzKaMWsT8jDsQU@cluster-data-analytic.fhdtvkt.mongodb.net", tlsCAFile=certifi.where())

In [12]:
db = client.sample_supplies
salesCol = db.sales

In [13]:
# 1. Show top 10 products (name) sales (quantity x price).

pipeline_1 = [
    {
        "$unwind": "$items"
    },
    {
        "$project": {
            "product_name": "$items.name",
            "sales": {
                "$multiply": [
                    "$items.quantity",
                    {
                        "$toDouble": "$items.price"
                    }
                ]
            }
        }
    },
    {
        "$group": {
            "_id": "$product_name",
            "total_sales": {"$sum": "$sales"}
        }
    },
    {
        "$sort": {"total_sales": -1}
    },
    {
        "$limit": 10
    }
]

result = list(salesCol.aggregate(pipeline_1))

for i, doc in enumerate(result):
    print(f"{i + 1}. Product: {doc['_id']:20s} Total Sales: ${doc['total_sales']:.2f}")

1. Product: laptop               Total Sales: $6775977.07
2. Product: backpack             Total Sales: $817374.10
3. Product: pens                 Total Sales: $581843.27
4. Product: binder               Total Sales: $511644.57
5. Product: notepad              Total Sales: $463615.48
6. Product: envelopes            Total Sales: $376658.49
7. Product: printer paper        Total Sales: $367459.29

In [14]:
# 2. Show top 3 products (name) sales by store (location).
pipeline_2 = [
    {
        "$unwind": "$items"
    },
    {
        "$project": {
            "product_name": "$items.name",
            "sales": {
                "$multiply": [
                    "$items.quantity",
                    {
                        "$toDouble": "$items.price"
                    }
                ]
            },
            "store_location": "$storeLocation"
        }
    },
    {
        "$group": {
            "_id": {
                "product_name": "$product_name",
                "store_location": "$store_location"
            },
            "total_sales": {"$sum": "$sales"}
        }
    },
    {
        "$sort": {"total_sales": -1}
    },
    {
        "$group": {
            "_id": "$_id.store_location",
            "top_products": {
                "$push": {
                    "product_name": "$_id.product_name",
                    "total_sales": "$total_sales"
                }
            }
        }
    },
    {
        "$project": {
            "store_location": "$_id",
            "top_products": {
                "$slice": ["$top_products", 3]
            }
        }
    }
]

result = list(salesCol.aggregate(pipeline_2))

for store_data in result:
    store_location = store_data['store_location']
    top_products = store_data['top_products']
    
    print(f"\nStore Location: {store_location}")
    
    for i, product in enumerate(top_products):
        product_name = product['product_name']
        total_sales = product['total_sales']
        print(f"{i + 1}. Product: {product_name:20s} Total Sales: ${total_sales:.2f}")

Store Location: New York
1. Product: laptop               Total Sales: $694613.32
2. Product: backpack             Total Sales: $82563.14
3. Product: pens                 Total Sales: $64029.90

Store Location: Denver
1. Product: laptop               Total Sales: $1961659.25
2. Product: backpack             Total Sales: $245679.34
3. Product: pens                 Total Sales: $185008.39

Store Location: Seattle
1. Product: laptop               Total Sales: $1565138.15
2. Product: backpack             Total Sales: $178387.47
3. Product: pens                 Total Sales: $123445.61

Store Location: San Diego
1. Product: laptop               Total Sales: $462973.58
2. Product: backpack             Total Sales: $50997.42
3. Product: pens                 Total Sales: $42134.55

Store Location: London
1. Product: laptop               Total Sales: $1073098.72
2. Product: backpack             Total Sales: $144529.14
3. Product: pens                 Total Sales: $92602.30

Store Location: Austin
1. Product: laptop               Total Sales: $1018494.05
2. Product: backpack             Total Sales: $115217.59
3. Product: pens                 Total Sales: $74622.52

In [113]:
# 3. Show rankings of each store (location). 
pipeline_3 = [
    {
        "$unwind": "$items"
    },
    {
        "$project": {
            "sales": {
                "$multiply": [
                    "$items.quantity",
                    {
                        "$toDouble": "$items.price"
                    }
                ]
            },
            "store_location": "$storeLocation"
        }
    },
    {
        "$group": {
            "_id": "$store_location",
            "total_sales": {"$sum": "$sales"}
        }
    },
    {
        "$sort": {"total_sales": -1}
    },
    {
        "$project": {
            "store_location": "$_id",
            "total_sales": 1
        }
    }
]

result = list(salesCol.aggregate(pipeline_3))

result.sort(key=lambda x: x["total_sales"], reverse=True)

print("Store Rankings Based on Total Sales:")
for i, store_data in enumerate(result):
    store_location = store_data['store_location']
    total_sales = store_data['total_sales']
    
    print(f"{i + 1}. Store Location: {store_location:20s} Total Sales: ${total_sales:.2f}")

Store Rankings Based on Total Sales:
1. Store Location: Denver               Total Sales: $2921009.92
2. Store Location: Seattle              Total Sales: $2255947.69
3. Store Location: London               Total Sales: $1583066.79
4. Store Location: Austin               Total Sales: $1445603.11
5. Store Location: New York             Total Sales: $1016059.59
6. Store Location: San Diego            Total Sales: $672885.17

In [110]:
# 4. Show purchased method by gender table 
pipeline_4 = [
    {
        "$group": {
            "_id": {
                "gender": "$customer.gender",
                "purchase_method": "$purchaseMethod"
            },
            "count": {"$sum": 1}
        }
    },
    {
        "$project": {
            "_id": 0,  
            "gender": "$_id.gender",
            "purchase_method": "$_id.purchase_method",
            "count": 1
        }
    }
]

result = list(salesCol.aggregate(pipeline_4))

import pandas as pd

df = pd.DataFrame(result)
table = pd.pivot_table(df, values='count', index='gender', columns='purchase_method', fill_value=0)
print(table)

purchase_method  In store  Online  Phone
gender
F                  1430.0   813.0  284.0
M                  1389.0   772.0  312.0

In [117]:
# 5. Show monthly total sales 

from datetime import datetime

pipeline_5 = [
    {
        "$unwind": "$items"
    },
    {
        "$project": {
            "sales": {
                "$multiply": [
                    "$items.quantity",
                    {
                        "$toDouble": "$items.price"
                    }
                ]
            },
            "saleDate": "$saleDate"
        }
    },
    {
        "$group": {
            "_id": {
                "year": {"$year": "$saleDate"},
                "month": {"$month": "$saleDate"}
            },
            "total_sales": {"$sum": "$sales"}
        }
    },
    {
        "$project": {
            "_id": 0,  # Exclude the _id field
            "year": "$_id.year",
            "month": "$_id.month",
            "total_sales": 1
        }
    },
    {
        "$sort": {
            "year": 1,
            "month": 1
        }
    }
]

result = list(salesCol.aggregate(pipeline_5))

for record in result:
    year = record["year"]
    month = record["month"]
    total_sales = record["total_sales"]
    month_name = datetime(year, month, 1).strftime("%B")
    print(f"{month_name:>12} {year}: ${total_sales:.2f}")

     January 2013: $196043.76
    February 2013: $147622.59
       March 2013: $140700.06
       April 2013: $162336.67
         May 2013: $179143.37
        June 2013: $142132.02
        July 2013: $176298.23
      August 2013: $130977.22
   September 2013: $137871.99
     October 2013: $173126.73
    November 2013: $148358.38
    December 2013: $174306.96
     January 2014: $125824.02
    February 2014: $141174.41
       March 2014: $193413.50
       April 2014: $132593.08
         May 2014: $166896.80
        June 2014: $143304.56
        July 2014: $184804.60
      August 2014: $167979.81
   September 2014: $159802.92
     October 2014: $149284.84
    November 2014: $180564.85
    December 2014: $139466.83
     January 2015: $222577.01
    February 2015: $189776.15
       March 2015: $178086.94
       April 2015: $132298.50
         May 2015: $167482.69
        June 2015: $149484.34
        July 2015: $149510.47
      August 2015: $154868.63
   September 2015: $135615.80
     October 2015: $175215.34
    November 2015: $158390.42
    December 2015: $166565.02
     January 2016: $166558.93
    February 2016: $120783.52
       March 2016: $193185.17
       April 2016: $137340.27
         May 2016: $162966.06
        June 2016: $132942.54
        July 2016: $180331.10
      August 2016: $164555.33
   September 2016: $138299.53
     October 2016: $151698.93
    November 2016: $170758.41
    December 2016: $215400.07
     January 2017: $207037.75
    February 2017: $134527.54
       March 2017: $162351.15
       April 2017: $191990.94
         May 2017: $202403.85
        June 2017: $201552.55
        July 2017: $156106.90
      August 2017: $173196.13
   September 2017: $186976.26
     October 2017: $191681.25
    November 2017: $202330.86
    December 2017: $175697.72

In [ ]:
client.close()